.game {
  padding: 0px;
  width: 1000px;
}
.game-info {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
}
.game-info .left {
  text-align: start;
  max-width: 250px;
}
.game-info .center {
  text-align: center;
}
.game-info .right {
  text-align: end;
}

.start-over-sign {
  cursor: pointer;
  font-size: 25px;
  text-align: center;
}
.start-over-sign:hover {
  color: var(--dark-red);
}

.blinking-text-animation {
  animation: color 1s infinite;
  animation-fill-mode: backwards;
  font-size: 25px;
  min-width: 70px;
}
@keyframes color {
  0% {
    color: var(--dark-orange);
  }
  100% {
    color: var(--main-gray);
  }
}

.hint {
  font-size: 25px;
  background-color: var(--main-white);
  border-radius: 12px;
  padding: 0px;
  border: none;
  width: 150px;
  box-shadow: 0px 2px 8px var(--main-gray);
  background: linear-gradient(-45deg, var(--background-blue), var(--background-green));
}

.hint:hover {
  box-shadow: 0px 4px 8px var(--main-gray);
}

.answers-cards{
  padding: 0px;
  text-align: center;
}
.answer-card {
  display: inline-block;
  vertical-align: top;
}

.answer-card-btn {
  font-size: 25px;
  margin: 10px;
  padding: 20px;
  width: 350px;
  min-height: 100px;
  background-size: 400% 400%;
  border: none;
  border-radius: 12px;
}
.answer-card-btn:disabled {
  cursor: default;
  box-shadow: none !important;
}
.answer-card-btn:hover {
  box-shadow: 0px 8px 15px var(--main-gray);
}
.answer-card-btn:active {
  box-shadow: none;
  background-size: 100% 100%;
}

.regular-card {
  background: linear-gradient(-45deg, var(--dark-orange), var(--main-orange));
}
.correct-card {
  background: linear-gradient(-45deg, #35a608, #69f55f);
}
.incorrect-card {
  background: linear-gradient(-45deg, #fa0303, #f75a5a);
}
.disabled-card {
  background: linear-gradient(-45deg, var(--background-blue), var(--background-green));
}

.small-numbers {
  font-size: 20px;
  font-weight: bold;
}

.growing-digits-animation {
  animation: growth 1s infinite;
  animation-fill-mode: backwards;
  color: var(--dark-orange);
  text-shadow: 0px 8px 15px var(--main-gray);
  font-size: 400px;
  line-height: 400px;
  margin-top: 100px;
}
@keyframes growth {
  0% {
    font-size: 40px;
  }
  100% {
    font-size: 400px;
  }
}

img {
  max-width: 400px;
  max-height: 300px;
  margin-top: 30px;
  border-radius: 4px;
  background-size: cover;
  box-shadow: 0px 5px 100px #d1d1d1;
}

@media only screen and (max-width: 600px) {
  img {
    max-width: 300px;
    margin-bottom: 40px;
  }
  .hint, .start-over-sign {
    width: 80px;
  }
  .answer-card-btn {
    width: 300px;
  }
  .game-info .left {
    max-width: 150px;
  }
}
