.card-btn {
  font-size: 25px;
  margin: 10px;
  padding: 20px;
  width: 350px;
  min-height: 100px;
  background-size: 400% 400%;
  border: none;
  border-radius: 12px;
}

.regular-card {
  background: linear-gradient(-45deg, var(--dark-orange), var(--main-orange));
}

.correct-card {
  background: linear-gradient(-45deg, #35a608, #69f55f);
}
.incorrect-card {
  background: linear-gradient(-45deg, #fa0303, #f75a5a);
}
.disabled-card {
  background: linear-gradient(-45deg, var(--background-blue), var(--background-green));
}

.card-btn:disabled {
  cursor: default;
  box-shadow: none !important;
}

.small-numbers {
  font-size: 20px;
  font-weight: bold;
}

.card-btn:hover {
  box-shadow: 0px 8px 15px var(--main-gray);
}


.card-btn:active {
  box-shadow: none;
  background-size: 100% 100%;
}

.cards{
  padding: 0px;
  text-align: center;
}

.card {
  display: inline-block;
  vertical-align: top;
}

.growing {
  animation: growth 1s infinite;
  animation-fill-mode: backwards;
  color: var(--dark-orange);
  text-shadow: 0px 8px 15px var(--main-gray);
  font-size: 400px;
  line-height: 400px;
  margin-top: 100px;
}


@keyframes growth {
  0% {
    font-size: 40px;
  }
  100% {
    font-size: 400px;
  }
}

.blinking {
  animation: color 1s infinite;
  animation-fill-mode: backwards;
  color: var(--dark-orange);
  font-size: 25px;
  min-width: 70px;
}

@keyframes color {
  0% {
    color: var(--dark-red);
  }
  100% {
    color: var(--main-gray);
  }
}

.question {
  /* position: relative; */
  padding: 0px;
  width: 1000px;
  /* border-radius: 12px; */
}

.answers {
  /* position: relative; */
  /* margin-left: 30px; */
  padding: 0px;
}

img {
  max-width: 400px;
  max-height: 300px;
  margin-top: 30px;
  border-radius: 4px;
  background-size: cover;
  box-shadow: 0px 5px 100px #d1d1d1;
}

.game-info {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
}

.left-info {
  text-align: start;
}

.center-info {
  text-align: center;
}

.right-info {
  text-align: end;
}

.hint {
  cursor: pointer;
}

.start-over {
  cursor: pointer;
  font-size: 25px;
}

.start-over:hover {
  color: var(--dark-red);
}

@media only screen and (max-width: 600px) {
  img {
    max-width: 300px;
    margin-bottom: 40px;
  }
}
