.card-btn {
  font-size: 25px;
  margin: 10px;
  padding: 20px;
  /* min-width: 200px;
  max-width: 400px; */
  width: 350px;
  min-height: 100px;
  background-size: 400% 400%;
  border: none;
  border-radius: 12px;
}

.regular-card {
  background: linear-gradient(-45deg, #f66a3f, #f4af55);
}

.correct-card {
  background: linear-gradient(-45deg, #35a608, #69f55f);
}
.incorrect-card {
  background: linear-gradient(-45deg, #fa0303, #f75a5a);
}
.disabled-card {
  background: linear-gradient(-45deg, #23a6d5, #23d5ab);
}

.card-btn:disabled {
  cursor: default;
  box-shadow: none !important;
}

.small-numbers {
  font-size: 20px;
  font-weight: bold;
}

.card-btn:hover {
  box-shadow: 0px 8px 15px #313133;
}


.card-btn:active {
  box-shadow: none;
  background-size: 100% 100%;
}

.cards{
  display: inline;
}

ol {
  padding: 0px 0px 0px 0px;
}

.growing {
  animation: growth 1s infinite;
  animation-fill-mode: backwards;
  color: #f66a3f;
  text-shadow: 0px 8px 15px #313133;
  font-size: 400px;
  line-height: 400px;
}


@keyframes growth {
  0% {
    font-size: 40px;
  }
  100% {
    font-size: 400px;
  }
}

.blinking {
  animation: color 1s infinite;
  animation-fill-mode: backwards;
  color: #f66a3f;
  /* text-shadow: 0px 8px 15px #313133; */
  font-size: 25px;
  min-width: 70px;
}


@keyframes color {
  0% {
    color: #f66a3f;
  }
  100% {
    color: #313133;
  }
}

.question {
  /* position: relative; */
  padding: 0px;
  width: 1000px;
  /* border-radius: 12px; */
}

.answers {
  /* position: relative; */
  /* margin-left: 30px; */
  padding: 0px;
}

/* .question:after {
  content: "";
  background: url('https://images.unsplash.com/photo-1486572788966-cfd3df1f5b42?ixid=MnwzMTU4Njl8MHwxfHNlYXJjaHwxfHxFbnRlcnRhaW5tZW50JTNBJTIwVmlkZW8lMjBHYW1lc3xlbnwwfDB8fHwxNjQ5MDI0OTM1&ixlib=rb-1.2.1') no-repeat center center;
  position: absolute;
  top:0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.3;
  border-radius: 12px;
  background-size: cover;
} */

img {
  margin-top: 30px;
  /* height: 300px; */
  border-radius: 4px;
  background-size: cover;
  box-shadow: 0px 5px 100px #d1d1d1;
  opacity: 0.9;
}

.game-info {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
}

.left-info {
  text-align: start;
}

.center-info {
  text-align: center;
}

.right-info {
  text-align: end;
}

.hint {
  cursor: pointer;
}

.start-over {
  cursor: pointer;
  font-size: 25px;
}

.start-over:hover {
  color: #f66a3f;
}
